body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-2xs: 11px;
  --font-size-smi-8: 12.8px;
  --font-size-lgi: 19px;
  --font-size-5xl: 24px;
  --font-size-11xl: 30px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;

  /* Colors */
  --color-gray-100: #fefefe;
  --color-gray-200: #8c8c8c;
  --color-gray-300: #868686;
  --color-gray-400: rgba(0, 0, 0, 0.53);
  --color-gray-500: rgba(139, 139, 139, 0.38);
  --color-darkslategray-100: #122c48;
  --color-white: #fff;
  --color-whitesmoke-100: #f6f6f6;
  --color-whitesmoke-200: #eee;
  --color-whitesmoke-300: #f1ebeb;
  --color-gainsboro-100: #e2e2e2;
  --color-gainsboro-200: #d8d8d8;
  --color-darkgray-100: #a3a3a3;
  --color-darkgray-200: rgba(163, 163, 163, 0.74);
  --color-dimgray-100: #807171;
  --color-dimgray-200: #6c6c6c;
  --color-dimgray-300: #666;
  --color-lightgray: #cbcbcb;
  --color-mediumaquamarine: #2ab78d;
  --color-black: #000;
  --color-slategray: #455e7a;

  /* Gaps */
  --gap-lgi: 19px;
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-xl: 20px;
  --gap-5xl: 24px;
  --gap-sm-9: 13.9px;
  --gap-15xl: 34px;
  --gap-mid: 17px;
  --gap-2xs: 11px;
  --gap-21xl: 40px;

  /* Paddings */
  --padding-25xl: 44px;
  --padding-5xl: 24px;
  --padding-28xl: 47px;
  --padding-4xl: 23px;
  --padding-xl: 20px;
  --padding-8xs: 5px;
  --padding-10xs: 3px;
  --padding-11xs: 2px;
  --padding-xs: 12px;
  --padding-40xl: 59px;
  --padding-12xl: 31px;
  --padding-10xl: 29px;
  --padding-6xl: 25px;
  --padding-50xl: 69px;
  --padding-7xl: 26px;
  --padding-lg: 18px;
  --padding-4xs: 9px;
  --padding-5xs: 8px;
  --padding-11xl: 30px;
  --padding-7xs: 6px;
  --padding-17xl: 36px;
  --padding-smi: 13px;
  --padding-12xs: 1px;
  --padding-27xl: 46px;
  --padding-52xl: 71px;
  --padding-43xl: 62px;
  --padding-88xl: 107px;
  --padding-9xs: 4px;
  --padding-56xl: 75px;
  --padding-41xl: 60px;
  --padding-18xl: 37px;
  --padding-23xl: 42px;
  --padding-22xl: 41px;
  --padding-29xl: 48px;
  --padding-37xl: 56px;
  --padding-57xl: 76px;
  --padding-26xl: 45px;
  --padding-19xl: 38px;
  --padding-15xl: 34px;
  --padding-mini: 15px;
  --padding-3xl: 22px;

  /* Border radiuses */
  --br-2xs: 11px;
  --br-xs: 12px;
  --br-6xs-7: 6.7px;
}
